# Игнор-лист файлов проекта
# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы в них

#дирректории
/.idea/*
/target/*
/src/main/java/META-INF/*

#файлы
/stepicWebServise.iml
*.jar
*.bat


